<!-- Use debug=true here if you want to see output from the appender itself -->
<configuration debug="true">
    <!-- Use shutdownHook so that we can close gracefully and finish the log drain -->
    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>
    <appender name="LogzioLogbackAppender" class="io.logz.logback.LogzioLogbackAppender">
        <token>${LOGZ_TOKEN}</token>
        <logzioUrl>${LOGZ_URL}</logzioUrl>
        <additionalFields>"additional_field=enKjempelangOgRarVerdi;APP_NAME=${APP_NAME}"</additionalFields>
        <logzioType>InfoLevel</logzioType>
        <addHostname>true</addHostname>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <root level="info">
        <!-- IMPORTANT: make sure to include this line, otherwise the appender won't be used -->
        <appender-ref ref="LogzioLogbackAppender"/>
    </root>
</configuration>